version: '3.8'

services:
  frontend:
    image: ghcr.io/alucardponce/frontint:latest
    container_name: app-frontend
    restart: unless-stopped
    ports:
      - "8080:80"
    environment:
      - NODE_ENV=production
    networks:
      - app-network

networks:
  app-network:
    driver: bridge